<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Zeige Partner</label>
    <label lang="en">Show Partner</label>
    <version>1.0.0</version>
    <copyright>(c) by Alexander Fröhling</copyright>
    <license>proprietary</license>
    <link>mailto:alexander.froehling@googlemail.com</link>
    <author>Alexander Froehling</author>
    <description>
        Marketing - Partnerprogramm
        Hier einfach einen Partner anlegen unter den Freitextfeldern auf aktivieren gehen, Name hinterlegen und ein Bild.
        Bei erfolgreichem Aufruf der Seite mit validem Namen wird das ganze im Frontend angezeigt.
    </description>

    <compatibility minVersion="5.2.0" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
</plugin>
